html {
  block-size: 100%;
  inline-size: 100%;
  height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: white;
  }

body {
    margin:0;
    height: 100vh;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  height: 100vh;
  width: 50%;
  background-color: #0a0a0a;
}

.hero-content {
    height: 100%;
    width: 100%;
    padding: 40px 20px 40px 50px;
    display: flex;
    flex-direction: column;
}

.hero-image {
    height: 100%;
    width: 100%;
    background: url("assets/images/background1.jpg") repeat 0 0;
    background-position: center;
    background-size: cover;
}

.gradient {
    display: block;
    height: 100%;
    width: 30%;
    float: left;
    background: linear-gradient(to right,#0a0a0a, 70%, rgba(0, 0, 0, 0));
}

#logo-header {
  margin-right: auto;
  max-height: 10%;
  filter: invert(1);
}  

#content-middle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#subtitle {
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 34px;
    color: #fffffff4;
}

.hero-content p {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

#under-construction {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
} 

#contact-container {
  margin-top: 4vh;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

.contact-icon {
    height: 44px;
    margin-right: 25px;
    filter: invert(1);
  }

.contact-text {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
  }

#socials-container {
  justify-self: end;
}

#socials-container img {
  height: 44px;
  margin-right: 25px;
  filter: invert(1);
}

/* RESPONSIVE BEHAVIOUR */
@media only screen and (max-width: 1300px), (max-height: 900px) {
  #logo {
    max-height: 40px;
  }
  
  #content-middle h1 {
    font-size: 50px;
  }

  #subtitle {
    font-size: 30px;
  }

  #description {
    margin-top: 25px;
    font-size: 20px;
  }

  #under-construction {
    font-size: 22px;
  }
}

/* Animation */

.highlight {
  min-block-size: 100%;
  min-inline-size: 100%;
  z-index: 1;
  animation: highlightAnimation ease-in .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes highlightAnimation {
  0% {
    color: white;
  }
  100% {
    color: #0a0a0a;
    background-color: white;
  }
}

#socials-container:hover {
  cursor: pointer;
}

