* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: white;
  }

html {
    background-color: #0a0a0a;
  }

body {
    margin:0;
}

.row {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.column {
  height: auto;
  width: 50%;
  background-color: #0a0a0a;
}

.hero-content {
    height: 100%;
    width: 100%;
    padding: 40px 50px 40px 100px;
    display: flex;
    flex-direction: column;
}

.hero-image {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("assets/images/background1.jpg") repeat 0 0;
    background-position: center;
    background-size: cover;
}

.gradient {
    display: block;
    height: 100%;
    width: 30%;
    float: left;
    background: linear-gradient(to right,#0a0a0a, 70%, rgba(0, 0, 0, 0));
}

#logo-header {
  margin-right: auto;
  margin-bottom: 25px;
  max-height: 14%;
  /* filter: invert(1); */
}  

#content-middle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero-content p {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
}

#under-construction {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
} 

#contact-container {
  margin-top: 30px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

.contact-icon {
    height: 44px;
    margin-right: 25px;
    filter: invert(1);
  }

.contact-text {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
  }

#socials-container {
  margin-top: 20px;
  justify-self: end;
}

#socials-container img {
  height: 44px;
  margin-right: 25px;
  filter: invert(1);
}

/* RESPONSIVE BEHAVIOUR */
@media only screen and (min-width: 3000px) {
  .hero-content {
    padding-left: 150px;
    justify-content: center;
  }

  #logo-header {
    height: 20%;
    max-height: none;
  }

  #description {
    font-size: 30px;
  }

  #under-construction {
    font-size: 32px;
  }

  .contact-icon {
    height: 65px;
  }

  .contact-text {
    font-size: 32px;
  }

  #content-middle {
    height: auto;
  }

  .contact-icon {
    height: 70px;
  }

  #socials-container img {
    height: 60px;
  }

}

@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .hero-content {
    justify-content: center;
  }

  #content-middle {
    height: auto;
  }

  #logo-header {
    height: 18%;
    max-height: none;
  }

  #description {
    font-size: 24px;
  }

  .contact-icon {
    height: 60px;
  }

  .contact-text {
    font-size: 26px;
  }

  #socials-container {
    justify-self: inherit;
  }

  #socials-container img {
    height: 70px;
    max-height: none;
  }

}

@media only screen and (max-width: 1000px) {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
  }

  .column {
    height: auto;
  }

  .row {
    min-height: 100%;
    overflow: hidden;
  }

  .hero-content {
    padding-left: 60px;
  }

  #logo-header {
    width: 100%;
    height: auto;
    max-height: none;
  }
  
  #content-middle h1 {
    font-size: 50px;
  }

  #subtitle {
    font-size: 30px;
  }

  #description {
    margin-top: 10px;
    font-size: 18px;
  }

  #under-construction {
    font-size: 20px;
  }

  .contact-icon {
    height: 45px;
  }

  .contact-text {
    font-size: 20px;
  }

  #socials-container {
    margin-top: 30px;
  }

}

@media only screen and (max-width: 780px) {

  .collapsable {
    display: none;
    width: 0%;
  }
  
  html {
    height: auto;
  }

  body {
    height: 100%;
  }

  .row {
    height: 100%;
  }

  .column {
    height: 100%;
    width: 100%;
    background: url("assets/images/background1.jpg") repeat 0 0;
    background-position: center;
    background-size: cover;
  }

  #logo-header {
    align-self: center;
    margin: 0 0 30px 0;
  }

  .hero-content {
    height: 100%;
    margin: 30px auto 30px auto;
    text-align: center;
    max-width: 80%;
    padding: 40px 40px;
    background-color: #0a0a0ac9;
    backdrop-filter: blur(6px); 
  }

  #description {
    margin-top: 15px;
    text-align: center;
  }

  #under-construction {
    text-align: center;
  }

  #contact-container {
    align-self: center;
  }

}

@media only screen and (max-width: 500px) {
  .column {
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    max-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
   
  }

  .contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Animation */

.highlight {
  min-block-size: 100%;
  min-inline-size: 100%;
  z-index: 1;
  animation: highlightAnimation ease-in .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes highlightAnimation {
  0% {
    color: white;
  }
  100% {
    color: #0a0a0a;
    background-color: white;
  }
}

#socials-container:hover {
  cursor: pointer;
}

